{% load static %}

body, html {
    height: 100%;
    background-color: #cccccc;
    padding: 0%;
    margin: 0%;
}

.navbar {
    position: fixed;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 1rem;
    background-color: #262626;
}

.nav-container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.brand {
    /* color: rgba(0,0,0,.9); */
    color: white;
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 2rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
    text-decoration: none;
}

.nav-menu {
    display: flex;
    flex-basis: auto;
    flex-grow: 1;
    align-items: center;
}

.navbar-nav {
    display: flex;
    flex-direction: row;
    padding-left: 0;
    list-style: none;
    margin-bottom: 0;
    margin-right: auto;
    margin-top: 0;
}

li {
    display: list-item; 
    text-align: -webkit-match-parent;
}

.nav-item {
    /* color: rgba(0,0,0,.5); */
    color: white;
    display: block;
    text-decoration: none;
    padding: .5rem 1rem;
}

.navbar-text {
    /* color: rgba(0,0,0,.5); */
    color: white;
    display: inline-block;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.navbar-text>a {
    /* color: rgba(0,0,0,.9); */
    color: white;
    text-decoration: none;
}

.navbar-button {
    
    display: none;
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid black;
    border-radius: .25rem;
}

.navbar-button-icon{
    background-image: url("{% static 'img/menu.png' %}");
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    /* background: no-repeat center center; */
    background-size: 100% 100%;
}

span a:hover {
    color:#3366cc;
}


@media only screen and (max-width: 992px) {
    .navbar-button {
        display: flex;
    }

    .nav-menu {
        display: none;
        flex-basis: 100%;
    }

    .navbar-nav{
        flex-direction: column;
    }
  }