{% load static %}

{% block include %}
<link rel="stylesheet" href="{% static 'css/style_footer.css' %}?34455667787">
{% endblock %}

<footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>O nas</h6>
          <p class="text-justify">CarTransportations to serwis łączący osoby poszukujące transportu samochodów z przewoźnikami.</p>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Kategorie</h6>
          <ul class="footer-links">
            <li><a href="">Zleć transport</a></li>
            <li><a href="">Szukaj zleceń</a></li>
          </ul>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Linki</h6>
          <ul class="footer-links">
            <li><a href="http://scanfcode.com/about/">O nas</a></li>
            <li><a href="http://scanfcode.com/contact/">Kontakt</a></li>
          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <!-- <p class="copyright-text">Copyright &copy; 2017 All Rights Reserved by
       <a href="#">Scanfcode</a>. -->
       <p class="copyright-text">Zespół: Konstantsin, Nazar, Dmytro, Kyryloooooo</a>.
          </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
            <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
</footer>