
{% extends 'base.html' %}

{% load static %}

{% block include %}
<link rel="stylesheet" href="{% static 'transportation_car/css/style_item.css' %}">
<link rel="stylesheet" href="{% static 'transportation_car/css/pagination.css' %}">

<!-- 1 -->
<link href="https://api.mapbox.com/mapbox-gl-js/v2.2.0/mapbox-gl.css" rel="stylesheet">
<script src="https://api.mapbox.com/mapbox-gl-js/v2.2.0/mapbox-gl.js"></script>

<!-- 2 -->

<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.1.0/mapbox-gl-directions.js"></script>

<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.0/mapbox-gl-geocoder.min.js"></script>
<link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.0/mapbox-gl-geocoder.css" type="text/css">

<style>
  .content{
    margin-top:9rem;
  }
</style>


{% endblock %}

{% block title %}
    Transporty
{% endblock %}

{% block slider %}
<div class="search">
  <form action="" class="form_search" method="post">
    {% csrf_token %}
    <div class="search_for_city">
      <p style="margin-right: 10px; margin-top:5px;">Skąd </p>
      <div id="geocoder"></div>
      <!-- <input type="text"> -->
    </div>
    <div class="search_for_city">
      <p style="margin-right: 10px; margin-top:5px;">Dokąd </p>
      <div id="geocoder1"></div>
      <!-- <input type="text"> -->
    </div>
      {{ form.start }}
      {{ form.end }}
      <button type="submit" class="btn btn-dark">Szukaj</button>
    <!-- <button type="submit" class="btn btn-primary" >Szukaj</button> -->
  </form>
</div>
{% endblock %}
{% block content %}


<script>
//   window.addEventListener('scroll', function() {
//   $('.navbar').css('display','none');
//   $('.search').css('margin-top','0')
// });


var scrollPos = 0;
$(window).scroll(function(){
   var st = $(this).scrollTop();
   if (st > scrollPos){
     $('#result').html('Вниз');
    //  console.log('Вниз')
     $('.navbar').css('display','none');
     $('.search').css('margin-top','0');
     $('.search').css('height','80px');
     $('.search').css('position','fixed');
     $('.search').css('padding-top','20px');
   } else {
     $('#result').html('Вверх');
    //  console.log('Вверх')
    $('.search').css('height','140px');
     $('.navbar').css('display','block');
     $('.search').css('padding-top','80px');
  // $('.search').css('margin-top','56px');
  // $('.search').css('position','relative');
   }
   scrollPos = st;
});


</script>


<div class="col">


    <div id="mapid" style="display: none;"></div>


    

  


    <script>
      mapboxgl.accessToken = 'pk.eyJ1Ijoia29zdGlhc2tvcGVjIiwiYSI6ImNrbzNma2VvMTE4dTYydm12OWdqYWV4ZmUifQ.Rr5Kk6gDkwHK5MervsubUg';
        var map = new mapboxgl.Map({
        container: 'mapid',
        style: 'mapbox://styles/mapbox/streets-v11',
        center: [-79.4512, 43.6568],
        zoom: 13
      });

      var geocoder = new MapboxGeocoder({
        accessToken: mapboxgl.accessToken,
        language: 'pl-PL',
        mapboxgl: mapboxgl,
      });

      var geocoder1 = new MapboxGeocoder({
        accessToken: mapboxgl.accessToken,
        language: 'pl-PL',
        mapboxgl: mapboxgl,
      });

      document.getElementById('geocoder').appendChild(geocoder.onAdd(map));
      document.getElementById('geocoder1').appendChild(geocoder1.onAdd(map));


      geocoder.on('result', function(r) {
    start = r.result.center;
    start_location = r.result.place_name;
    $('#punktA_1').val(r.result.center[0])
    $('#punktA_2').val(r.result.center[1])
    $('#start').val(start_location);
    console.log($('#start').val());
    // f(start,end);

})

geocoder1.on('result', function(r) {
    console.log(r.result.center);
    // console.log(ok1);
    end = r.result.center;
    delivery_location = r.result.place_name;
    $('#punktB_1').val(r.result.center[0])
    $('#punktB_2').val(r.result.center[1])
    $('#end').val(delivery_location);
    console.log($('#end').val());
    // fun(ok1,ok2);
   
   
      f(start,end);
    
   
})


    </script>

    <div class="result-search">
      
      {% if length %}

      <div class="search-1">
        <p>Zlecenia: <span><span id="number">{{ number }}</span></span> z <span id="count">{{ length }}</span></p>
      </div>
      
     

      <div class="search-2">

        <div id="pagination"></div>


        <script src="{% static 'transportation_car/js/pagination.js' %}"></script>
        

        <!-- <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center">
            <li class="page-item disabled">
              <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
            </li>
            <li class="page-item"><a class="page-link" href="{% url 'home' 1 %}">1</a></li>
            <li class="page-item"><a class="page-link" href="{% url 'home' 2 %}">2</a></li>
            <li class="page-item"><a class="page-link" href="{% url 'home' 3 %}">3</a></li>
            <li class="page-item">
              <a class="page-link" href="#">Next</a>
            </li>
          </ul>
        </nav> -->
      </div>

      {% endif %}
      
    </div>

   <!-- <a class="super-link" href="#">
    <div class="test">
      
      <div class="kart">
        <img src="https://images.unsplash.com/photo-1552519507-da3b142c6e3d?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Y2Fyc3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&w=1000&q=80" alt="">
      </div>

      <div class="test2">
        <div>
          <div class="test-data" style="font-size: 11px;">12 kwietnia 2020</div>
          <h4>Rover 200</h4>
         
          <div class="test-adres">
            <p><b>Załadunek</b></p>
            <div><p>Moskwa</p></div>
          </div>

          <div class="test-adres">
            <p><b>Dostawa</b></p>
            <div><p>Warszawa</p></div>
          </div>

        </div>
      </div>
    </div>
    </a> -->
    {% if length %}

    {% for item in transportations %}

    <a class="super-link" href="{% url 'transportation' item.id %}">
      <div class="test">
        
        <div class="kart">
          {% if item.photo %}
          <img src="{{MEDIA_URL}}{{ item.photo.url }}" alt="">
          {% else %}
          <img src="{% static 'img/default_car.jpg'%}">
          <!-- <img src="{% static 'transportation_car/img/transport.jpg'%}">  -->
          {% endif %}
          <!-- <img src="https://images.unsplash.com/photo-1552519507-da3b142c6e3d?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Y2Fyc3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&w=1000&q=80" alt=""> -->
        </div>
  
        <div class="test_2">
          <div class="test2">
            <div>
              <div class="test-data" style="font-size: 11px;">{{ item.data_created}}</div>
              <h4>{{ item.model}}</h4>
             
              <div class="test-adres">
                <p><b>Załadunek:</b></p>
                <div><p>{{ item.start_location}}</p></div>
              </div>
    
              <div class="test-adres">
                <p><b>Dostawa:</b></p>
                <div><p>{{item.delivery_location}}</p></div>
              </div>

              <div class="test-adres">
                <p><b>Cena:</b></p>
                <div><p>{{item.price}} {{item.currency}}</p></div>
              </div>
    
            </div>
          </div>
          <div class="test3">
            <button type="button" class="btn btn-dark">Zobacz</button>
            <!-- <button type="button" class="btn btn-primary">Zobacz</button> -->
          </div>
        </div>
        
      </div>
      </a>

   






  {% endfor %}

  {% else %}
  
  <div class="NotFind">
    <p class="NotFindOrder">Przepraszamy, nie znaleźliśmy zleceń dla trasy <b><span class="m1"></span> - <span class="m2"></span></b>.</p>
  </div>
  <script>
    $('.wrapper').css('min-height','100%');
    
    var k = " " + $('#start').val() + " - " + $('#end').val() + ".";
    $('.m1').text($('#start').val());
    $('.m2').text($('#end').val());

  </script>
  {% endif%}


  <!-- {% if length == 1 %}
  <script>
     $('.wrapper').css('min-height','70%');
  </script>
  {% endif %} -->


</div>


{% endblock %}