{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block include %}
<style>
    .wrapper{
        min-height: 100%;
    }
    #butres{
        margin-top: 20px;
    }
</style>
{% endblock %}
{% block content %}
    <div>
        <h2>Zmiana hasła</h2>
        <hr>
		<p>Wprowzdźcie nowe hasło</p>
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
<!--            <button type="submit">Zmień hasło</button>-->
            <button id="butres" type="submit" class="btn btn-dark">Zmień hasło</button>
        </form>
    </div>
{% endblock %}