{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block include %}
<link rel="stylesheet" href="{% static 'account/password_style.css' %}">
{% endblock %}

{% block content %}
    <div class="">
        <h2>Zapomniałeś hasło?</h2>
        <hr>
        <p>Wprowadź swój email za pomocą którego wykonałeś rejestracje
        i wyślemy informacje na twój email:
        </p>
        <form method="post">
            {% csrf_token %}
            <span class="email_label">Email: </span>
            {{ password_reset_form.email }}
            <button class="send" type="submit">Wysłać email</button>
            <p class="error">{{ error }}</p>
        </form>
    </div>
{% endblock %}